@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    background-image: url("/assets/images/20590.jpg");
    background-repeat: no-repeat;
    background-color: #ffffff;
    color: #444444; 
}

/* Header */
header {
    background-color: rgb(255, 255, 255);
}
header img {
    width: 100%;
}
@media screen and (min-width: 600px) {
    header img {
        width: 400px;
        height: auto;
    }
}

/* NavBar */
#navbar {
    display: inline;
    margin: 0;
    padding: 0;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
ul.topnav li {
    float: none;
}  
ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
}  
ul.topnav li a:hover:not(.active) {
    background-color: #111;
}  
ul.topnav li a.active {
    background-color: #6377b9;
}
@media screen and (min-width: 600px) { 
    ul.topnav li {float: left;}
}

/* Footer */
footer {
    background: rgb(46, 45, 45);
    color: #fff;
    text-align: right;
}
footer a {
    color: #fff;
    text-decoration: none;
    padding-right: 1em;
}
footer a:hover {
    color: rgb(113, 113, 163);
}
@media screen and (min-width: 600px) { 
    footer {
        font-size: 1.1em;
    }
}

/* Home */
section {
    margin: auto;
    padding-top: 2em;
    text-align: center;
}
article {
    text-align: left;
    background: #fff;
    border: 1px solid;
    border-color: rgb(207, 201, 201);
    border-radius: 10px;
    margin: auto;
    padding: 1em 2em;
    width: auto;
}
.line {
    height: 1px;
    background-color: rgb(116, 114, 114);
    width: 100%;
}
.box-image {
    text-align: center;
}
.box-image img {
    border-radius: 30px;
    width: 100%;
    height: auto;      
}
.homebox {
    display: inline-block;
    width: 90%;
    height: auto;
    background:#ffffff;
    margin:10px;
    border: 1px solid;
    border-color: rgb(207, 201, 201);
    border-radius: 10px;
}
.homebox h2 {
    text-align: center;
    text-transform: uppercase;
}
.shadow {
    -webkit-box-shadow:0 10px 6px -6px #777;
    -moz-box-shadow:0 10px 6px -6px #777;
    box-shadow:0 10px 6px -6px #777;
}
@media screen and (min-width: 600px) { 
    article {
        width: 90%;
        font-size: 1.3em;
    }
    .box-image img {
        width: 500px;
        height: 230px;
        padding: 10px;
    }
    .homebox {
        width: 30%;
        margin:60px 20px;
    }
}

/* Works */
.works-image {
    text-align: center;
}
.works-image img {
    border-radius: 20px;
    width: 100%;
    height: auto; 
}
@media screen and (min-width: 600px) {
    .works-image {
        width: 30%;
        height: 310px;
        display: inline-block;
        margin: auto;
    }
    .works-image img {
        width: auto;
        height: 310px;
    }
    .works-text {
        width: 60%;
        height: 310px;
        display: inline-block;
        vertical-align: top;
        padding-left: 2em;
    }
}

/* Gallery */
.gallery {
    text-align: center;
    padding: 1em;    
}
.gallery img {
    width: 100%;
}
@media screen and (min-width: 600px) {
    .gallery img {
        width: 30%;
        margin: 1em;
    }
}

/* About */
.profil-image img {
    width: 100%;
}
@media screen and (min-width: 600px) {
    .profil-image {
        width: 30%;
        height: auto;
        display: inline-block;
        margin: auto;
    }
    .profil-text {
        width: 60%;
        height: 310px;
        display: inline-block;
        vertical-align: top;
        padding-left: 1em;        
    }
}

/* Contact Form */
.form-box {
  border-radius: 5px;
  padding: 20px;
}
input[type=text],input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(144, 143, 143);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.form-box button {
    background-color: #6377b9;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .form-box button:hover {
    background-color: #223c94;
  }




